/**
 * (c)2017 - Estúdio Digital Bocca
 *
 * Paletas de Gradiente por: http://uigradients.com
 * GitHub Corners por: http://tholman.com/github-corners/
 * TypedJS por: http://www.mattboldt.com/demos/typed-js/
 */

html,body{
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
}

.edb-gradient-laranja{
  background: #FF512F;
  background: -webkit-linear-gradient(to left, #FF512F , #F09819);
  background: linear-gradient(to left, #FF512F , #F09819);
}

.edb-gradient-azul{
  background: #1CD8D2;
  background: -webkit-linear-gradient(to left, #1CD8D2 , #93EDC7);
  background: linear-gradient(to left, #1CD8D2 , #93EDC7);
}

.edb-center{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.edb-texto{
  font-family: "Denk One";
}

.edb-branco{
  color: #fff;
}

.edb-5{
  font-size: 5rem;
}

/*Código do GitHub Corners*/
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

/*Código do Typed.js*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
